In [137]:
import pandas as pd
import numpy as np

In [138]:
def dfs(graph, start, end):
    fringe = [(start, [])]
    while fringe:
        state, path = fringe.pop()
        if path and state == end:
            yield path
            continue
        for next_state in graph[state]:
            if next_state in path:
                continue
            fringe.append((next_state, path+[next_state]))

In [139]:
df_sequence_mapping_1 = pd.read_csv("../data/scaled_up_70/df_sequence_mapping_1.csv")
df_sequence_mapping_2 = pd.read_csv("../data/scaled_up_70/df_sequence_mapping_2.csv")
df_sequence_mapping_3 = pd.read_csv("../data/scaled_up_70/df_sequence_mapping_3.csv")
df_sequence_mapping_4 = pd.read_csv("../data/scaled_up_70/df_sequence_mapping_4.csv")
df_sequence_mapping_5 = pd.read_csv("../data/scaled_up_70/df_sequence_mapping_5.csv")

In [140]:
df_sequence_mapping_1

       1    2
0      6   76
1     20   90
2     32  102
3     35  105
4     37  107
..   ...  ...
286  142   83
287  142  104
288  142  112
289  142  129
290  142  138

[291 rows x 2 columns]

In [141]:
df_sequence_mapping_1

       1    2
0      6   76
1     20   90
2     32  102
3     35  105
4     37  107
..   ...  ...
286  142   83
287  142  104
288  142  112
289  142  129
290  142  138

[291 rows x 2 columns]

In [142]:
dict_1 = {}
dict_2 = {}
dict_3 = {}
dict_4 = {}
dict_5 = {}

for i in range(len(df_sequence_mapping_1)):
    dict_1[df_sequence_mapping_1.iloc[i,0]] = [df_sequence_mapping_1.iloc[i,1]]
    
for i in range(len(df_sequence_mapping_2)):
    dict_2[df_sequence_mapping_2.iloc[i,0]] = [df_sequence_mapping_2.iloc[i,1]]
    
for i in range(len(df_sequence_mapping_3)):
    dict_3[df_sequence_mapping_3.iloc[i,0]] = [df_sequence_mapping_3.iloc[i,1]]   

for i in range(len(df_sequence_mapping_4)):
    dict_4[df_sequence_mapping_4.iloc[i,0]] = [df_sequence_mapping_4.iloc[i,1]]
    
for i in range(len(df_sequence_mapping_5)):
    dict_5[df_sequence_mapping_5.iloc[i,0]] = [df_sequence_mapping_5.iloc[i,1]]

In [147]:
node = 2
graph = dict_1
cycles = [[node]+path  for node in graph for path in dfs(graph, node, node)]

In [148]:
cycles

[[86, 97, 116, 103, 86],
 [95, 125, 101, 95],
 [96, 102, 115, 96],
 [97, 116, 103, 86, 97],
 [101, 95, 125, 101],
 [102, 115, 96, 102],
 [103, 86, 97, 116, 103],
 [105, 130, 139, 105],
 [115, 96, 102, 115],
 [116, 103, 86, 97, 116],
 [125, 101, 95, 125],
 [130, 139, 105, 130],
 [131, 140, 133, 131],
 [133, 131, 140, 133],
 [135, 137, 141, 135],
 [136, 142, 138, 136],
 [137, 141, 135, 137],
 [138, 136, 142, 138],
 [139, 105, 130, 139],
 [140, 133, 131, 140],
 [141, 135, 137, 141],
 [142, 138, 136, 142]]

In [149]:
len_cycle = []
for cycle in cycles:
    len_cycle.append(len(cycle))

In [150]:
len_cycle

[5, 4, 4, 5, 4, 4, 5, 4, 4, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

In [151]:
cycles[0]

[86, 97, 116, 103, 86]

In [51]:
dict_extra = a.groupby('2').apply(lambda dfg: dfg.to_dict(orient='list')).to_dict()

KeyError: 1

In [50]:
dict_extra = a.groupby('2').apply(lambda dfg: dfg.to_dict(orient='list')).to_dict()
dict_temp = {}
for i in range(len(dict_extra)):
    dict_temp[]

{2: {'2': [2]},
 3: {'2': [3]},
 4: {'2': [4]},
 8: {'2': [8]},
 15: {'2': [15]},
 24: {'2': [24]},
 25: {'2': [25]},
 26: {'2': [26]},
 28: {'2': [28]},
 36: {'2': [36]},
 43: {'2': [43]},
 46: {'2': [46]},
 56: {'2': [56]},
 62: {'2': [62]},
 73: {'2': [73]},
 74: {'2': [74]},
 78: {'2': [78]},
 83: {'2': [83]},
 85: {'2': [85]},
 94: {'2': [94]},
 95: {'2': [95]},
 96: {'2': [96]},
 97: {'2': [97]},
 98: {'2': [98]},
 106: {'2': [106]},
 108: {'2': [108]},
 113: {'2': [113]},
 116: {'2': [116]},
 126: {'2': [126]},
 128: {'2': [128]},
 132: {'2': [132]},
 136: {'2': [136]}}

In [40]:
a

       2
1
2     25
3     73
4     74
8     78
15    85
24    94
25    95
26    96
28    98
36   106
43   113
46   116
56   126
62   132
73    15
74    26
78    28
83     2
85     3
94   108
95    62
96     4
97     8
98   136
106   43
108   56
113   36
116   97
126   83
128   46
132  128
136   24

In [48]:
a.to_dict(orient='list')['2']

[25,
 73,
 74,
 78,
 85,
 94,
 95,
 96,
 98,
 106,
 113,
 116,
 126,
 132,
 15,
 26,
 28,
 2,
 3,
 108,
 62,
 4,
 8,
 136,
 43,
 56,
 36,
 97,
 83,
 46,
 128,
 24]

In [29]:
df_sequence_mapping.groupby('1')

In [30]:
df_sequence_mapping

      1    2
0     2   25
1     3   73
2     4   74
3     8   78
4    15   85
5    24   94
6    25   95
7    26   96
8    28   98
9    36  106
10   43  113
11   46  116
12   56  126
13   62  132
14   73   15
15   74   26
16   78   28
17   83    2
18   85    3
19   94  108
20   95   62
21   96    4
22   97    8
23   98  136
24  106   43
25  108   56
26  113   36
27  116   97
28  126   83
29  128   46
30  132  128
31  136   24