In [ ]:
from tabulate import tabulate
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Optimization Project/Sandbox/SortedDistances_sub2.csv")

In [ ]:
#Finding the average distance between hospitals
df_drop = (df.drop('Depot 1', axis=1)).drop('Depot 2', axis=1).drop([0,1]).drop("Unnamed: 0", axis=1).reset_index().drop("index", axis=1)

#Doesn't count the distances from a hospital to itself
avg_distance = (df_drop.sum().sum() / (df_drop.shape[1]**2 - df_drop.shape[1])) / 4

In [ ]:
phm = pd.read_csv("/content/drive/MyDrive/Optimization Project/Sandbox/patient_map10.csv")

In [ ]:
phm

,Unnamed: 0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,6,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,8,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
8,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,12,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,13,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
13,14,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,16,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,17,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
17,18,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,23,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
23,24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
phm_drop = phm.drop("Unnamed: 0", axis=1)

In [ ]:
phm_mod = phm_drop

phm_mod

    1  2  3  4  5  6  7  8  9  10  ...  15  16  17  18  19  20  21  22  23  24
0   0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
1   0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
2   0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
3   0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
4   0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
5   0  0  0  0  0  0  0  0  0   0  ...   0   0   1   0   0   0   0   0   0   0
6   0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
7   0  0  0  0  0  0  0  0  0   0  ...   0   0   1   0   0   0   0   0   0   0
8   0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
9   0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
10  0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
11  0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
12  0  0  0  0  0  1  0  0  0   0  ...   0   0   1   0   0   0   0   0   0   0
13  0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
14  0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
15  0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
16  0  0  0  0  0  1  0  1  0   0  ...   0   0   0   0   0   0   0   0   1   0
17  0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
18  0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
19  0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
20  0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
21  0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
22  0  0  0  0  0  0  0  0  0   0  ...   0   0   1   0   0   0   0   0   0   0
23  0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0

[24 rows x 24 columns]

In [ ]:
phm_mod_sub1 = phm_mod[["1", "2", "3", "4", "5", "6","7", "8", "9", "10", "11", "12"]]
phm_mod_sub2 = phm_mod[["1", "2", "3", "4", "5", "6","7", "8", "9", "10", "11", "12"]]
phm_mod_sub3 = phm_mod[["13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24"]]
phm_mod_sub4 = phm_mod[["13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24"]]

In [ ]:
phm_mod_subs1 = phm_mod_sub1.iloc[0:12,]
phm_mod_subs2 = phm_mod_sub2.iloc[12:24,]
phm_mod_subs3 = phm_mod_sub3.iloc[0:12,]
phm_mod_subs4 = phm_mod_sub4.iloc[12:24,]

In [ ]:
phm_mod_subs4.shape

(12, 12)

In [ ]:
def compute_distance(phm_drop):

  from re import I
  sum = 0

  o = 0
  d = 0

  while True:
      #No patient at that o,d combo
      if phm_drop.iloc[o,d] == 0:

        #If we are at the end of the columns
        if o >= (phm_drop.shape[1] - 1):
          #If we are also at the end of rows, we are done
          if d >= (phm_drop.shape[0] - 1):
            break

          else:
          #At end of columns but not at the end of the rows, so move down a row
            o = 0
            d = d + 1
            continue

        else:
        #If not at the end of the columns, simply move a column
          o = o + 1
          continue

      else:
      #Patient at that o,d combo


        phm_drop.iloc[o,d] = phm_drop.iloc[o,d] - 1
        sum = sum + avg_distance

        #Iterate through the row corresponding to that previous destination's column
        #See if there is a patient waiting to be picked up from the destination
        i = d
        j = 0

        while True:
          #No patient at that i,j combo
          if phm_drop.iloc[i, j] == 0:
            #If we are at the end of the columns
            if j >= (phm_drop.shape[1] - 1):
              sum = sum + avg_distance  #There was no patient waiting at that destination, so we have to travel to the next hospital (penalty)
              break

            #Not at the end of the columns, simply move a column
            else:
              j = j + 1
              continue

          else:
            #Yes patient at that i,j combo
            phm_drop.iloc[i,j] = phm_drop.iloc[i,j] - 1 #Remove the patients from the demand list
            sum = sum + avg_distance
            break

        #Overall while loop
        continue

  return (sum)

In [ ]:
phm_sub_1_dist = compute_distance(phm_mod_subs1)

phm_sub_2_dist = compute_distance(phm_mod_subs2)

phm_sub_3_dist = compute_distance(phm_mod_subs3)

phm_sub_4_dist = compute_distance(phm_mod_subs4)

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [ ]:
df_depots = pd.read_csv("/content/drive/MyDrive/Optimization Project/Sandbox/SortedDistances_sub2.csv")

In [ ]:
df_depots

,Unnamed: 0,Depot 1,Depot 2,Arbour Hospital,Beth Israel Deaconess Medical Center - West Campus,Beth Isreal Deaconess medical Center - East Campus,Boston Medical Center - East Newton Campus,Boston Medical Center - Menino Campus,Brigham and Women's Hospital,Carney Hospital,...,Kindred Hospital,Lemuel Shattuck Hospital,Mass General Hospital,Massachusetts Eye and Ear Infirmary,New England Baptist Hospital,Shrinerâ€™s Burn Institute,Spaulding Rehabilitation Hospital,St. Elizabeth's Hospital,Tufts Medical Center,VA Bos. Healthcare System - W. Roxbury
0,Depot 1,0,12165,13419,8451,7537,8189,9040,8263,16091,...,14650,14098,3230,3041,12560,3122,2860,14465,6546,38713
1,Depot 2,13531,0,2106,2738,3158,3938,3981,2492,7060,...,6715,3790,9749,9560,2051,9641,9400,6910,6161,12272
2,Arbour Hospital,15052,1777,0,3783,4195,5504,5547,3929,8310,...,6249,3378,11270,11081,3182,11162,10921,7072,7682,10606
3,Beth Israel Deaconess Medical Center - West Ca...,10963,3200,3085,0,440,4199,4242,310,10253,...,4538,6673,5386,6339,1298,5643,5790,4479,6422,11262
4,Beth Isreal Deaconess medical Center - East Ca...,10618,3628,3504,447,0,4626,4669,737,10681,...,4957,7092,5041,5994,1726,5298,5445,5091,5202,11681
5,Boston Medical Center - East Newton Campus,10891,4501,5755,4358,4778,0,835,4110,9989,...,11724,6953,7109,6920,4896,7001,6760,11539,3521,35787
6,Boston Medical Center - Menino Campus,10551,3892,5146,3749,4169,641,0,3501,9649,...,11384,6533,6769,6580,4287,6661,6420,11199,3181,14787
7,Brigham and Women's Hospital,11253,2955,3101,310,730,3951,3994,0,10008,...,4676,6689,5676,6629,1053,5933,6080,4617,6174,11278
8,Carney Hospital,18868,7703,8255,13761,14181,10894,10720,13513,0,...,19701,5829,15086,14897,9590,14978,14737,19516,11498,14237
9,Children's Hospital Boston,11069,3481,3624,534,546,4349,4392,590,10534,...,5041,7212,5492,6445,1579,5749,5896,4982,6572,11801
10,Dana-Farber Cancer Institute,11033,3173,3316,226,510,4171,4214,282,10226,...,4733,6904,5456,6409,1271,5713,5860,4674,6394,11493
11,Erich LIindemann Mental Health Center,6405,10144,9524,6674,5760,6168,7019,6486,14070,...,12629,12077,794,1264,7180,398,752,12444,4525,36692
12,Faulkner Hospital,16198,4102,3284,5263,5675,7525,7466,5409,8474,...,7697,3542,10621,11574,5444,10878,11025,8520,9797,8224
13,Franciscan Children's Hospital & Rehab Center,11500,2714,3968,2571,2991,2076,1799,2323,10279,...,6936,5113,7718,7529,3109,7610,7369,6877,4130,13609
14,Hebrew Rehabilitation Center,16708,4612,3794,5773,6185,8035,7976,5919,8984,...,7932,4052,11131,12084,5954,11388,11535,8755,10307,5462
15,Jewish Memorial Hospital & Radius Hospital,13142,1036,2808,3440,3860,3500,3441,3194,7261,...,7417,3991,9360,9171,2753,9252,9011,7612,5772,12974
16,Kindred Hospital,16716,7381,6648,4322,4734,11241,11363,4468,19112,...,0,8330,12934,12745,5479,12826,12585,1048,9342,11186
17,Lemuel Shattuck Hospital,16714,3601,3828,6175,6595,6504,6227,5929,5166,...,8539,0,12932,12743,5488,12824,12583,9362,9344,8446
18,Mass General Hospital,6729,6813,8526,5676,4762,6450,7301,5488,14352,...,12911,12359,0,895,6182,451,1556,12143,4807,32786
19,Massachusetts Eye and Ear Infirmary,6809,6915,8628,5778,4864,6530,7381,5590,14432,...,12991,12439,255,0,6284,551,1636,12245,4887,37054
20,New England Baptist Hospital,12203,2537,3353,1541,1961,4407,4450,1295,9590,...,5299,6320,6626,10029,0,10110,9869,6122,6630,11238
21,Shrinerâ€™s Burn Institute,7056,7162,8875,6025,5111,6777,7628,5837,14679,...,13238,12686,474,594,6531,0,1054,12492,5134,37301
22,Spaulding Rehabilitation Hospital,5829,9568,10822,6602,5688,5592,6443,6414,13494,...,12053,11501,1381,1192,7108,1023,0,11868,3949,36116
23,St. Elizabeth's Hospital,17760,7989,7256,4644,5056,12285,12407,4790,20156,...,1048,8938,13978,13789,6087,13870,13629,0,10386,12063
24,Tufts Medical Center,8055,6797,8051,6654,8580,2828,2950,6406,10525,...,9294,10205,4273,4084,7192,4165,3924,9109,0,33357
25,VA Bos. Healthcare System - W. Roxbury,40647,13116,9223,12559,12971,35172,16895,12705,14661,...,12340,9481,36865,36676,12804,36757,36516,12869,33273,0

In [ ]:
#Finding the average distance between hospitals and depot 1
df_depot1 = df_depots.loc[:,"Depot 1"]

df_depot1 = df_depot1[range(2,25)]

avg_depot1_dist = np.sum(df_depot1)/(df_depot1.size)

#Finding the average distance between hospitals and depot 2
df_depot2 = df_depots.loc[:,"Depot 2"]

df_depot2 = df_depot2[range(2,25)]

avg_depot2_dist = np.sum(df_depot2)/(df_depot2.size)

#Finding the average of these two average distances
avg_depot_dist = (avg_depot1_dist + avg_depot2_dist) / 2

In [ ]:
phm_sub_1_total = phm_sub_1_dist
phm_sub_2_total = phm_sub_2_dist + 2 * avg_depot_dist
phm_sub_3_total = phm_sub_3_dist + 2 * avg_depot_dist
phm_sub_4_total = phm_sub_4_dist + 2 * avg_depot_dist

print(phm_sub_1_total)
print(phm_sub_2_total)
print(phm_sub_3_total)
print(phm_sub_4_total)

0
28349.494565217392
28349.494565217392
24519.996376811592

In [ ]:
totalCost = phm_sub_1_total*0.0005 + phm_sub_2_total*0.0005 + phm_sub_3_total*0.00003 + phm_sub_4_total*0.0005
print(totalCost)

27.285230307971013

In [ ]:
totalDistance = phm_sub_1_total + phm_sub_2_total + phm_sub_3_total + phm_sub_4_total
totalDistance

81218.98550724637

In [ ]:
optDistance = 81505

In [ ]:
percentDistance = ((optDistance - totalDistance) / totalDistance) * 100
percentDistance

0.3521522596808513

In [ ]:
8505 * 0.0005

4.2525

In [ ]:
opt_cost = 14.519919999999999

In [ ]:
percent_change = ((totalCost - opt_cost) / totalCost) * 100
percent_change

46.784689606383125

In [ ]:
phm_mod_sub1

   0  1  2  3  4  5
0  0  0  0  0  0  0
1  0  0  0  0  0  0
2  0  0  0  0  0  0
3  0  0  0  0  0  0
4  0  0  0  0  0  0
5  0  0  0  0  0  0

In [ ]:
phm_drop.sum().sum()

0

In [ ]:
#Calculating estimate of distance traveled to & from depot for all of the ambulances, x2 because to & from
depot_sum = avg_depot_dist * k * 2

In [ ]:
total_sum = sum + depot_sum
print(total_sum)

552990.7463768113