In [ ]:
from tabulate import tabulate
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Optimization Project/Sandbox/SortedDistances_sub2.csv")
df = df.rename({'Unnamed: 0':'Name'}, axis=1)

In [ ]:
pt_map = pd.read_csv("/content/drive/MyDrive/Optimization Project/Sandbox/pt_map_10.csv")

In [ ]:
i = 1

for index in pt_map.iloc[:,1]:
  #Replace 0 with the row index you are adding (plus 1 because we have the 2 depots, but we start indexing at zero in python and 1 in our chart)
  df = df.append(df.iloc[index+1,:], ignore_index=True)

  #Replace 0 with the row index you are adding (plus 2 because we have the depots and the name column, but we start indexing at zero in python and 1 in our chart)
  ser = pd.DataFrame(df.values.copy()).iloc[:,index+2]

  ser[len(ser)-1] = 0

  df["Patient " + str(i)] = ser

  i = i + 1

In [ ]:
#Adding the patient destinations
i = 1

for index in pt_map.iloc[:,2]:
  #Replace 0 with the row index you are adding (plus 1 because we have the 2 depots, but we start indexing at zero in python and 1 in our chart)
  df = df.append(df.iloc[index+1,:], ignore_index=True)

  #Replace 0 with the row index you are adding (plus 2 because we have the depots and the name column, but we start indexing at zero in python and 1 in our chart)
  ser = pd.DataFrame(df.values.copy()).iloc[:,index+2]

  ser[len(ser)-1] = 0

  df["Dest Patient" + str(i)] = ser

  i = i + 1

In [ ]:
df = df.drop(columns=["Arbour Hospital",
"Beth Israel Deaconess Medical Center - West Campus",
"Beth Isreal Deaconess medical Center - East Campus",
"Boston Medical Center - East Newton Campus",
"Boston Medical Center - Menino Campus",
"Brigham and Women's Hospital",
"Carney Hospital",
"Children's Hospital Boston",
"Dana-Farber Cancer Institute",
"Erich LIindemann Mental Health Center",
"Faulkner Hospital",
"Franciscan Children's Hospital & Rehab Center",
"Hebrew Rehabilitation Center",
"Jewish Memorial Hospital & Radius Hospital",
"Kindred Hospital",
"Lemuel Shattuck Hospital",
"Mass General Hospital",
"Massachusetts Eye and Ear Infirmary",
"New England Baptist Hospital",
"Spaulding Rehabilitation Hospital",
"St. Elizabeth's Hospital",
"Tufts Medical Center"])

In [ ]:
#Get rid of the columns that were funky, the punctuation in Shriner's had an up and down apostrophe, not curved
df = df.drop(columns=[df.columns[3],df.columns[4]])

In [ ]:
df = df.drop([*range(2,26)], axis=0).reset_index(drop=True)

df.shape

(22, 23)

In [ ]:
df.to_csv("/content/drive/MyDrive/Optimization Project/Sandbox/DistanceMatrixv2.csv", index=True, encoding='utf-8-sig')

In [ ]:
for col in df.columns:
  print(col)

Name
Depot 1
Depot 2
Patient 1
Patient 2
Patient 3
Patient 4
Patient 5
Patient 6
Patient 7
Patient 8
Patient 9
Patient 10
Dest Patient1
Dest Patient2
Dest Patient3
Dest Patient4
Dest Patient5
Dest Patient6
Dest Patient7
Dest Patient8
Dest Patient9
Dest Patient10

In [ ]:
df_time = pd.read_csv("/content/drive/MyDrive/Optimization Project/Sandbox/SortedTimes_sub2.csv")
df_time = df_time.rename({'Unnamed: 0':'Name'}, axis=1)

In [ ]:
i = 1

for index in pt_map.iloc[:,1]:
  #Replace 0 with the row index you are adding (plus 1 because we have the 2 depots, but we start indexing at zero in python and 1 in our chart)
  df_time = df_time.append(df_time.iloc[index+1,:], ignore_index=True)

  #Replace 0 with the row index you are adding (plus 2 because we have the depots and the name column, but we start indexing at zero in python and 1 in our chart)
  ser = pd.DataFrame(df_time.values.copy()).iloc[:,index+2]

  ser[len(ser)-1] = 0

  df_time["Patient " + str(i)] = ser

  i = i + 1

In [ ]:
#Adding the patient destinations
i = 1

for index in pt_map.iloc[:,2]:
  #Replace 0 with the row index you are adding (plus 1 because we have the 2 depots, but we start indexing at zero in python and 1 in our chart)
  df_time = df_time.append(df_time.iloc[index+1,:], ignore_index=True)

  #Replace 0 with the row index you are adding (plus 2 because we have the depots and the name column, but we start indexing at zero in python and 1 in our chart)
  ser = pd.DataFrame(df_time.values.copy()).iloc[:,index+2]

  ser[len(ser)-1] = 0

  df_time["Dest Patient" + str(i)] = ser

  i = i + 1

In [ ]:
df_time = df_time.drop(columns=["Arbour Hospital",
"Beth Israel Deaconess Medical Center - West Campus",
"Beth Isreal Deaconess medical Center - East Campus",
"Boston Medical Center - East Newton Campus",
"Boston Medical Center - Menino Campus",
"Brigham and Women's Hospital",
"Carney Hospital",
"Children's Hospital Boston",
"Dana-Farber Cancer Institute",
"Erich LIindemann Mental Health Center",
"Faulkner Hospital",
"Franciscan Children's Hospital & Rehab Center",
"Hebrew Rehabilitation Center",
"Jewish Memorial Hospital & Radius Hospital",
"Kindred Hospital",
"Lemuel Shattuck Hospital",
"Mass General Hospital",
"Massachusetts Eye and Ear Infirmary",
"New England Baptist Hospital",
"Spaulding Rehabilitation Hospital",
"St. Elizabeth's Hospital",
"Tufts Medical Center"])

In [ ]:
#Get rid of the columns that were funky, the punctuation in Shriner's had an up and down apostrophe, not curved
df_time = df_time.drop(columns=[df_time.columns[3],df_time.columns[4]])

In [ ]:
df_time = df_time.drop([*range(2,26)], axis=0).reset_index(drop=True)

df_time.shape

(22, 23)

In [ ]:
df_time.to_csv("/content/drive/MyDrive/Optimization Project/Sandbox/TimeMatrixv2.csv", index=True, encoding='utf-8-sig')

In [ ]:
j = 1

for index in pt_map.iloc[:,1]:
  #Replace 0 with the row index you are adding (plus 1 because we have the 2 depots, but we start indexing at zero in python and 1 in our chart)
  df_time = df_time.append(df_time.iloc[index+1,:], ignore_index=True)

  #Replace 0 with the row index you are adding (plus 2 because we have the depots and the name column, but we start indexing at zero in python and 1 in our chart)
  ser = pd.DataFrame(df_time.values.copy()).iloc[:,index+2]

  ser[len(ser)-1] = 0

  df_time["Patient " + str(j)] = ser

  j = j + 1

IndexError: ignored

In [ ]:
d = {'col1': [1, 2], 'col2': [3, 4]}
ds = pd.DataFrame(data=d)

#Replace 0 with the row index you are adding
di = ds.append(ds.iloc[0,:], ignore_index=True)

#Replace 0 with the row index you are adding
ser = pd.DataFrame(di.values.copy()).iloc[:,0]

ser[len(ser)-1] = 0

di["col3"] = ser

   col1  col2  col3
0     1     3     1
1     2     4     2
2     1     3     0