In [1]:
import pandas as pd
import numpy as np

In [2]:
# from collections import defaultdict
  
# # This class represents a directed graph
# # using adjacency list representation
# class Graph:
  
#     def __init__(self, vertices):
#         # No. of vertices
#         self.V = vertices
         
#         # default dictionary to store graph
#         self.graph = defaultdict(list)
  

#     # function to add an edge to graph
#     def addEdge(self, u, v):
#         self.graph[u].append(v)


#     def printAllPathsUtil(self, u, d, visited, path):
 
#         # Mark the current node as visited and store in path
#         visited[u]= True
#         path.append(u)
 
#         # If current vertex is same as destination, then print
#         # current path[]
#         if u == d:
#             print (path)
#         else:
#             # If current vertex is not destination
#             # Recur for all the vertices adjacent to this vertex
#             for i in self.graph[u]:
#                 if visited[i]== False:
#                     self.printAllPathsUtil(i, d, visited, path)
                     
#         # Remove current vertex from path[] and mark it as unvisited
#         path.pop()
#         visited[u]= False
  
  
#     # Prints all paths from 's' to 'd'
#     def printAllPaths(self, s, d):
 
#         # Mark all the vertices as not visited
#         visited =[False]*(self.V)
 
#         # Create an array to store paths
#         path = []
 
#         # Call the recursive helper function to print all paths
#         self.printAllPathsUtil(s, d, visited, path)

In [60]:
def dfs(graph, start, end):
    fringe = [(start, [])]
    while fringe:
        state, path = fringe.pop()
        if path and state == end:
            yield path
            continue
        for next_state in graph[state]:
            if next_state in path:
                continue
            fringe.append((next_state, path+[next_state]))

In [3]:
df_sequence_mapping = pd.read_csv("../data/scaled_up_70/df_sequence_mapping.csv")

In [22]:
df_sequence_mapping

      1    2
0     2   25
1     3   73
2     4   74
3     8   78
4    15   85
5    24   94
6    25   95
7    26   96
8    28   98
9    36  106
10   43  113
11   46  116
12   56  126
13   62  132
14   73   15
15   74   26
16   78   28
17   83    2
18   85    3
19   94  108
20   95   62
21   96    4
22   97    8
23   98  136
24  106   43
25  108   56
26  113   36
27  116   97
28  126   83
29  128   46
30  132  128
31  136   24

In [6]:
g = Graph(144+1)

In [11]:
df_sequence_mapping.iloc[1][0]

3

In [17]:
len(np.unique(df_sequence_mapping.iloc[:,0]))

32

In [13]:
for i in range(0,len(df_sequence_mapping)):
    g.addEdge(df_sequence_mapping.iloc[i][0], df_sequence_mapping.iloc[i][1])

In [14]:
s = 2 ; d = 83
print ("Following are all different paths from % d to % d :" %(s, d))
g.printAllPaths(s, d)

Following are all different paths from  2 to  83 :
[2, 25, 95, 62, 132, 128, 46, 116, 97, 8, 78, 28, 98, 136, 24, 94, 108, 56, 126, 83]

In [ ]:
s = 25 ; d = 83
print ("Following are all different paths from % d to % d :" %(s, d))
g.printAllPaths(s, d)

In [89]:
s = 3 ; d = 8
print ("Following are all different paths from % d to % d :" %(s, d))
g.printAllPaths(s, d)

Following are all different paths from  3 to  8 :
[3, 7, 6, 10, 9, 4, 8]

In [33]:
number_of_nodes = 10
g = Graph(number_of_nodes+1)
for index in range(len(df_sequence_mapping)):
    sequence = df_sequence_mapping.iloc[index,:]
    g.addEdge(sequence[0], sequence[1])

In [56]:
a

       2
1
2     25
3     73
4     74
8     78
15    85
24    94
25    95
26    96
28    98
36   106
43   113
46   116
56   126
62   132
73    15
74    26
78    28
83     2
85     3
94   108
95    62
96     4
97     8
98   136
106   43
108   56
113   36
116   97
126   83
128   46
132  128
136   24

In [63]:
dict_temp = {}
for i in range(len(df_sequence_mapping)):
    dict_temp[df_sequence_mapping.iloc[i,0]] = [df_sequence_mapping.iloc[i,1]]

In [64]:
dict_temp

{2: [25],
 3: [73],
 4: [74],
 8: [78],
 15: [85],
 24: [94],
 25: [95],
 26: [96],
 28: [98],
 36: [106],
 43: [113],
 46: [116],
 56: [126],
 62: [132],
 73: [15],
 74: [26],
 78: [28],
 83: [2],
 85: [3],
 94: [108],
 95: [62],
 96: [4],
 97: [8],
 98: [136],
 106: [43],
 108: [56],
 113: [36],
 116: [97],
 126: [83],
 128: [46],
 132: [128],
 136: [24]}

In [65]:
node = 2
graph = dict_temp
cycles = [[node]+path  for node in graph for path in dfs(graph, node, node)]

In [69]:
len_cycle = []
for cycle in cycles:
    len_cycle.append(len(cycle))

In [72]:
len_cycle

[21,
 5,
 5,
 21,
 5,
 21,
 21,
 5,
 21,
 5,
 5,
 21,
 21,
 21,
 5,
 5,
 21,
 21,
 5,
 21,
 21,
 5,
 21,
 21,
 5,
 21,
 5,
 21,
 21,
 21,
 21,
 21]

In [78]:
cycles[0]

[2,
 25,
 95,
 62,
 132,
 128,
 46,
 116,
 97,
 8,
 78,
 28,
 98,
 136,
 24,
 94,
 108,
 56,
 126,
 83,
 2]

In [51]:
dict_extra = a.groupby('2').apply(lambda dfg: dfg.to_dict(orient='list')).to_dict()

KeyError: 1

In [50]:
dict_extra = a.groupby('2').apply(lambda dfg: dfg.to_dict(orient='list')).to_dict()
dict_temp = {}
for i in range(len(dict_extra)):
    dict_temp[]

{2: {'2': [2]},
 3: {'2': [3]},
 4: {'2': [4]},
 8: {'2': [8]},
 15: {'2': [15]},
 24: {'2': [24]},
 25: {'2': [25]},
 26: {'2': [26]},
 28: {'2': [28]},
 36: {'2': [36]},
 43: {'2': [43]},
 46: {'2': [46]},
 56: {'2': [56]},
 62: {'2': [62]},
 73: {'2': [73]},
 74: {'2': [74]},
 78: {'2': [78]},
 83: {'2': [83]},
 85: {'2': [85]},
 94: {'2': [94]},
 95: {'2': [95]},
 96: {'2': [96]},
 97: {'2': [97]},
 98: {'2': [98]},
 106: {'2': [106]},
 108: {'2': [108]},
 113: {'2': [113]},
 116: {'2': [116]},
 126: {'2': [126]},
 128: {'2': [128]},
 132: {'2': [132]},
 136: {'2': [136]}}

In [40]:
a

       2
1
2     25
3     73
4     74
8     78
15    85
24    94
25    95
26    96
28    98
36   106
43   113
46   116
56   126
62   132
73    15
74    26
78    28
83     2
85     3
94   108
95    62
96     4
97     8
98   136
106   43
108   56
113   36
116   97
126   83
128   46
132  128
136   24

In [48]:
a.to_dict(orient='list')['2']

[25,
 73,
 74,
 78,
 85,
 94,
 95,
 96,
 98,
 106,
 113,
 116,
 126,
 132,
 15,
 26,
 28,
 2,
 3,
 108,
 62,
 4,
 8,
 136,
 43,
 56,
 36,
 97,
 83,
 46,
 128,
 24]

In [29]:
df_sequence_mapping.groupby('1')

In [30]:
df_sequence_mapping

      1    2
0     2   25
1     3   73
2     4   74
3     8   78
4    15   85
5    24   94
6    25   95
7    26   96
8    28   98
9    36  106
10   43  113
11   46  116
12   56  126
13   62  132
14   73   15
15   74   26
16   78   28
17   83    2
18   85    3
19   94  108
20   95   62
21   96    4
22   97    8
23   98  136
24  106   43
25  108   56
26  113   36
27  116   97
28  126   83
29  128   46
30  132  128
31  136   24